<%= stylesheet_link_tag 'application',
'https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap',
 media: 'all', 'data-turbolinks-track' => true %>
 
 <div class="users-new">
   <div class="header">
    <%= button_to "View Posts", posts_path, method: :get %>
    <p>Odin Clubhouse</p>
    <span>
  </div>

  <div class="content">
    <h1>Log in</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>

  <div class="footer">
    <p>Copyright © <a href="https://github.com/jp524">JP</a> 2022</p>
  </div>
</div>
