<%= stylesheet_link_tag 'application',
'https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap',
 media: 'all', 'data-turbolinks-track' => true %>

<div class="new">
  <div class="header">
    <%= button_to "View Posts", posts_path, method: :get %>
    <p>Odin Clubhouse</p>
    <%= button_to "Logout", destroy_user_session_path, method: :delete  %>
  </div>

  <div class="content">
    <h1>Write a New Post</h1>
    <p>You are signed in as '<%= @post.user.name %>'.</p>

    <%= form_with model: @post do |form| %>
      <%= form.label :title, "Title:" %>
      <%= form.text_field :title %>

      <%= form.label :body, "Content:" %>
      <%= form.text_area :body %>

      <%= form.submit "Submit"%>
    <% end %>

    <% if @post.errors.any? %>
      <% @post.errors.full_messages.each do |message| %>
        <li class="error-msg"><%= message %></li>
      <% end %>
    <% end %>
  </div>

  <div class="footer">
    <p>Copyright © <a href="https://github.com/jp524">JP</a> 2022</p>
  </div>
</div>