<% if @post.errors.any? %>
  <% @post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>

<%= form_with model: @post do |form| %>
  <%= form.label :title, "Title:" %>
  <%= form.text_field :title %>

  <%= form.label :body, "Content:" %>
  <%= form.text_area :body %>

  <%= form.submit "Submit"%>
<% end %>

<p>You are signed in as "<%= @post.user.name %>".</p>
<%= button_to "Logout", destroy_user_session_path, method: :delete  %>